.emptyPeg {
    margin: 5px;
    display: inline-block;
    border: 2px solid rgb(126, 124, 124);
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.emptyPeg:hover {
    cursor: pointer;
}
.colorNull {
    background-color: #ffffff;
}
.color0 {
    background-color: #388e3c;
    border-color: #388e3c;
}
.color1 {
    background-color: #fbc02d;
    border-color: #fbc02d;
}
.color2 {
    background-color: #d81b60;
    border-color: #d81b60;
}
.color3 {
    background-color: #5e35b1;
    border-color: #5e35b1;
}
.color4 {
    background-color: #e64a19;
    border-color: #e64a19;
}
.color5 {
    background-color: #1976d2;
    border-color: #1976d2;
}

.notEditable {
    opacity: 0.3;
}
.notEditable:hover {
    cursor: not-allowed;
}
.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #333;
}
.indicator.intersect {
    border-color: #388E3C;
    background-color: #388E3C;
}
.indcator.match {
    border-color: #616161;
    background-color: #616161;
}
.indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35px;
    height: 45px;
}

.hide {
    display: none;
}

.pegs-duck {
    display: flex;
    justify-content: space-between;
}