button:active {
  outline: none;
}
.emptyPeg {
  margin: 5px;
  display: inline-block;
  border: 2px solid rgb(126, 124, 124);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.emptyPeg:hover {
  cursor: pointer;
}
.colorNull {
  background-color: #ffffff;
}
.color-pallete {
  border-bottom: 7px solid rgba(0, 0, 0, 0.1);
  transition-duration: 0.25s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.color-pallete:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 0.625rem solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
}
.color-pallete:focus {
  -webkit-transform: scale(1.2) translateY(-0.5rem);
  transform: scale(1.2) translateY(-0.5rem);
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
  border-bottom: 1.5rem solid rgba(0, 0, 0, 0.15);
}
.color1 {
  background-color: #fbc02d;
  border-color: #fbc02d;
}
.color2 {
  background-color: #d81b60;
  border-color: #d81b60;
}
.color3 {
  background-color: #5e35b1;
  border-color: #5e35b1;
}
.color4 {
  background-color: #e64a19;
  border-color: #e64a19;
}
.color5 {
  background-color: #1976d2;
  border-color: #1976d2;
}
.color6 {
  background-color: #388e3c;
  border-color: #388e3c;
}
.notEditable {
  opacity: 0.3;
}
.notEditable:hover {
  cursor: not-allowed;
}
.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #333;
}
.indicator.exact {
  border-color: #388e3c;
  background-color: #388e3c;
}
.indicator.value {
  border-color: #777373;
  background-color: #777373;
}
.indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 35px;
  height: 45px;
  position: relative;
  top: 0.5rem;
}
.checkbtn {
  position: relative;
  top: 0.5rem;
}
.duck-row {
  margin: 1rem;
}
.md-sidepegs {
  float: left;
  margin-left: auto;
}
.sm-sidepegs {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 6px 0 10px #b8bcc7;
  display: block;
  padding: 0.5rem 0;
}
@media (max-width: 767px) {
  .md-sidepegs {
    display: none;
  }
  .duck-row {
    margin-bottom: 5.5rem;
  }
  .side-pegs {
    display: flex;
    justify-content: center;
  }
}

.hide {
  display: none;
}

.pegs-duck {
  display: flex;
  justify-content: space-between;
}
.game-status {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 999;
}
.name a {
  font-size: 2rem;
  color: #111;
  text-decoration: none;
}
.game-status-body {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 93%;
  max-height: 80vh;
  background: #fff;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.game-status-body .instruction {
  font-size: 0.8875rem;
  margin-bottom: 1rem;
}
.game-status-body-header {
  margin: 0px -20px;
  padding: 0 1rem 1em;
  border-bottom: 1px solid #d3d9d8;
  color: #000000;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.game-status-body-content {
  padding: 1rem 0;
  height: max-content;
  overflow-y: auto;
}
.submit-btn {
  width: 3.5rem;
  height: 2.25rem;
  background: none;
  border: none;
  background-color: #fff;
  border: 1px solid #000;
  border-left: 4px solid #000;
  font-size: 0.75rem;
  color: #000;
  font-weight: 500;
  border-radius: 2px;
}
.close-modal {
  position: absolute;
  float: right;
  width: 50px;
  height: 50px;
  background-color: #111;
  top: -1.45rem;
  right: -1.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 1px 1px 3px rgb(81, 81, 82);
  border-radius: 50%;
}
.close-modal:hover {
  cursor: pointer;
}
.close-modal svg * {
  width: 1.125rem;
  fill: #fff;
}
.sub-title {
  font-size: 0.935rem;
  color: rgb(105, 105, 105);
  text-align: center;
}
.submit-btn:hover {
  cursor: pointer;
}
.indicatorGroup {
  margin-right: 0.5rem;
}
.emoji-cover {
  display: flex;
  width: 100%;
  justify-content: center;
}
.emoji-cover img {
  width: 5rem;
  height: 5rem;
}
.game-lost,
.game-won {
  background-color: #f6f9fc;
  padding: 1rem;
}
.game-won.white-bg {
  background-color: #fff;
}
.modal-title {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px #000;
}
.primary-btn {
  padding: 0.65rem 3rem;
  background: none;
  font-size: 0.935rem;
  background: #3f51b5;
  display: block;
  margin: 1rem auto 0;
  border: none;
  color: #fff;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.primary-btn:hover {
  -webkit-transition: background-color 0.1s 0.4s, color 0.1s 0.4s;
  transition: background-color 0.1s 0.4s, color 0.1s 0.4s;
  color: #eceff1;
  background-color: #5c2fa5;
  -webkit-animation: moema 0.4s forwards;
  animation: moema 0.4s forwards;
  cursor: pointer;
}

.pegRow.shake {
  animation: head-shake 0.4s;
  animation-iteration-count: 0.7s;
}

@media (max-width: 767px) {
  .game-status-body {
    top: 45%;
    width: 85%;
  }
  .hide-xs {
    display: none;
  }
}
@media (min-width: 768px) {
  .game-status-body {
    max-width: 35%;
  }
  .name {
    font-size: 2rem;
  }
  .sm-sidepegs {
    display: none;
  }
  .md-sidepegs {
    position: relative;
  }
  .side-pegs {
    position: fixed;
    display: inline-grid;
    justify-content: flex-start;
    transform: translate(50%, 30%);
  }
}

@media (min-width: 1200px) {
  .game-status-body {
    max-width: 25%;
  }
  .name {
    font-size: 3rem;
  }
  .pegs-duck {
    justify-content: space-evenly;
  }
  .name.game {
    position: relative;
    right: 2rem;
  }
  .side-pegs {
    transform: translate(50%, 40%);
  }
}

@keyframes head-shake {
  0% {
    transform: translateX(-3px);
  }
  25% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-7px);
  }
  75% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes moema {
  60% {
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
